body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
p{
    text-align: justify;
}
.color-font{
    color: rgb(25, 0, 255);
}
section{
    display: flex;
    margin-bottom: 100px;
}
.row{
    width: 50%;
    padding-left: 8%;
}
.row img{
    width: 100%;
    
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 183, 255),rgb(89, 71, 255));
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.row1{
    width: 50%;
    padding-left: 8%;
    padding-right: 5%;

    
}
.row1 img{
    width: 100%;
    
}
.Buttom-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
